@font-face {
    font-family: rick_and_morty;
    src: url("../../assets/get_schwifty.ttf");
    font-size: 13px;
}

.card {
    background-color: #f48d06cb;
    border: solid #06d6a0;
    font-family: rick_and_morty;
    width: 13em;
    height: 20em;
    border-radius: 1em;
    overflow: hidden;
    margin: 2em;
    position: relative;
    box-shadow: 0 0 10px rgba(86, 82, 82, 0.8);
}
  
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}
  
.card::after {
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 8em;
    font-weight: 800;
}
  
.card img {
    top: 0%;
    z-index: 10000;
    width: 100%;
    transition: 0.5s;
    position: relative;
}
  
.card h2 {
    color: #370617;
}
  
.card button {
    border: #06d6a0 solid;
    border-radius: 0.3em;
    margin: 0.3em;
    padding: 5px;
    align-content: rigth;
    justify-content: flex-end;
    align-content: flex-start;
}
  
/* .card button:hover {
    background-color: #ff0a0a;
    border-radius: 0.3em;
    margin: 0.3em;
    cursor: pointer;
    align-content: flex-start;
    justify-content: flex-end; 
} */

/*
img-area {
    text-align: center;
    color: #fff;
    position: relative;
}

.img-area img {
  width: 100;
}
*/


